* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: $fontColor;
}

section {
    padding: 40px 0;
    &::after {
        content: "";
        display: table;
        clear: both;
    }  
}

// alignment
@mixin myFlexCentered {
    display: flex;
    align-items: center;
}
@mixin myW80 {
    width: 80%;
    margin: 0 auto;    
}
@mixin myW60 {
    width: 60%;
    margin: 40px auto;
}
@mixin tab80left {
    float: left;
    width: 80%;
    margin-bottom: 40px;
}
@mixin tab80right {
    float: right;
    width: 80%;
    margin-bottom: 40px;
}

@mixin myLeft_col1 {
    float: left;
    width: 100%;
}

@mixin myLeft_col2 {
    float: left;
    width: 50%;
}

@mixin myLeft_col3 {
    float: left;
    width: calc(100% / 3);
    margin: 40px 0;
}

@mixin myTable {
    content: "";
    display: table;
    clear: both;
}

@mixin myflexRow {
    display: flex;
}

@mixin myflexCol {
    display: flex;
    flex-direction: column;
}

// buttons
@mixin myBtnWhite {
    @include myFlexCentered;
    padding: 10px 15px;
    background-color: $whiteBack;
    color: $blueBack;
    border: 1px solid $blueBack;
    border-radius: 5px;
}
@mixin myBtnBlue {
    @include myFlexCentered;
    padding: 6px 15px;
    border: none;
    background-color: $blueBack;
    color: $whiteBack;
    border-radius: 5px;
    font-weight: 600;
}

.buttons {
    @include myFlexCentered;
    margin-top: 40px;
    button {
        @include myBtnBlue;
        img {
            width: 20px;
        }
    }
}

