h2 {
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.5em;
}

h3 {
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.5em;
}

p {
    font-size: 1.3em;
}

.underTxt {
    font-size: 0.9em;
    font-weight: lighter;
    margin: 20px 5px 0 5px;
}