#jumbotron {
    @include myW80;
    .left_50 {
        @include myLeft_col2;
        .buttons {
            @include myFlexCentered;
            margin-top: 40px;
            button {
                @include myBtnBlue;
                img {
                    width: 20px;
                }
            }
        }
        .img_back {
            height: 100%;
            width: 100%;
        }
    }
}